.proyectos{
	.block1{
		box-shadow: 0 0 10px grey;
		background-color: #eeeeee;
		padding: 10px;
		margin: 10px;
		border-radius: 5px;
	}

	.block2{
		box-shadow: 0 0 10px grey;
		background-color: #dddddd;
		padding: 10px;
		margin: 10px;
		border-radius: 5px;
	}
}
