.profilepic{
	max-height: 300px;
    border-radius: 10px;
    float: none;
	margin: 20px auto;
}

.morecontent span {
    display: none;
}
.morelink {
    display: block;
}

.more a{
		max-width: 160px;

}